<ion-view title="My Stash">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-plus" ng-click="create()"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="stash in stashes" href="#/app/stash/{{stash.id}}" ng-click="selectPost(stash.id)" on-swipe-left="showAlert(stash.id)">
        {{stash.title}}<br>
        <div class="subtitle">
        {{stash.date}} {{stash.post}}
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
